<div id="wrapper">
  <header class="header">
    <div class="topbar">
      <div class="topbar-left">
        <a routerLink="/">
          <img class="logo" src="../../../assets/my-account/images/logo/large-logo.png" alt="Sunseap logo">
        </a>
      </div>
    </div>
  </header>

  <main>
    <div class="page-wrapper ml-0">
      <div class="page-content container">
        <div class="app flex-row align-items-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="row">
                <!--left content-->
                <div class="col-lg-6">
                  <!--error code-->
                  <div>
                    <p class="text-dark error-code">404</p>
                  </div>
                </div>
                <!--right content-->
                <div class="col-lg-6">
                  <!--oops-->
                  <div class="mb-lg-4 ">
                    <p class="oops">Oops!</p>
                  </div>
                  <!--explanation-->
                  <div class="mb-lg-4 ">
                    <p class="explanation">This is not the page you're looking for</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="footer">
    <div class="footer-content">
      <div class="container-fluid text-center pt-sm-3 pb-sm-3">
        <ul class="menu-footer text-center text-md-left float-md-left">
          <li class="menu-footer-item">
            <a href="https://www.sunseap.com/privacy/" target="_blank" class="text-dark">Privacy Policy</a>
          </li>
          <li class="menu-footer-item">
            <a href="https://www.sunseap.com/electricity-retail-terms-conditions/" target="_blank" class="text-dark">Commercial T&C</a>
          </li>
          <li class="menu-footer-item">
            <a href="https://www.sunseap.com/terms-conditions/residential/" target="_blank" class="text-dark">Residential T&C</a>
          </li>
          <li class="menu-footer-item">
            <a href="https://www.sunseap.com/anti-bribery-and-corruption-policy/" target="_blank" class="text-dark">Anti-bribery & Corruption Policy</a>
          </li>
        </ul>
        <ul class="social float-none float-md-right mt-3 mt-sm-0 mt-xl-0">
          <li><a href="https://www.facebook.com/sunseapgroup" target="_blank" class="text-dark"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://www.linkedin.com/company/sunseap" target="_blank" class="text-dark"><i class="fab fa-linkedin-in"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UC4DlFkROplD7CnEFfBEobuw" target="_blank" class="text-dark"><i class="fab fa-youtube"></i></a></li>
          <li><a href="https://twitter.com/sunseap_group" target="_blank" class="text-dark"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.instagram.com/sunseap_group/" target="_blank" class="text-dark"><i class="fab fa-instagram"></i></a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
  </footer>
</div>
