<header id="header">
  <div class="container-fluid row">
    <div class="offset-md-1 col-md-10  pr-0 pl-0 d-flex">
      <a href="javascript:void(0)">
        <img src="/assets/sign-up/images/logo/large-logo.png" includeVersion height="50" alt="">
      </a>
      <a class="h5 ml-auto pt-3" href="https://www.sunseap.com/contact/enquiries/" target="blank">Contact</a>
    </div>
  </div>
</header>

<div class="bg-order-success row justify-content-center align-items-center mx-0">
  <div class="content-order-success col-9 col-md-7 col-lg-5">
    <div class="d-flex justify-content-center">
      <img alt="confirmation" class="confirmation" src="/assets/sign-up/images/content/confirmation.png" includeVersion>
    </div>
    <div class="text-center ml-4 mr-4">
      <p class="h3 font-weight-bold pt-3">Order Confirmation</p>
      <p class="pt-3">Your order has been successfully submitted.<br /> Service Agreement will be emailed to you within 2 working days from activation date.</p>
      <p>Thank you for taking the first step to being powered by solar.</p>
    </div>

    <!-- This consent survey will be implemented in release 1.6 -->
    <!--<div class="text-center">-->
      <!--<p class="mb-2">Are you satisfied with our service?</p>-->
      <!--<form #form="ngForm" (ngSubmit)="submitConsent()" novalidate>-->
        <!--<div class="d-flex justify-content-center">-->
          <!--<div>-->
            <!--<img src="../../../../assets/sign-up/images/content/pain.png" alt="happy">-->
            <!--<input type="radio" name="consent">-->
          <!--</div>-->
          <!--<div class="ml-2 mr-2">-->
            <!--<img src="../../../../assets/sign-up/images/content/sad.png" alt="sad">-->
          <!--</div>-->
          <!--<div>-->
            <!--<img src="../../../../assets/sign-up/images/content/meh.png" alt="happy">-->
          <!--</div>-->
          <!--<div class="ml-2 mr-2">-->
            <!--<img src="../../../../assets/sign-up/images/content/smile.png" alt="sad">-->
          <!--</div>-->
          <!--<div>-->
            <!--<img src="../../../../assets/sign-up/images/content/very-happy.png" alt="happy">-->
          <!--</div>-->
        <!--</div>-->
      <!--</form>-->
    <!--</div>-->

    <div class="d-flex justify-content-center pt-4">
      <a href="https://www.sunseap.com" class="btn btn-submit">
        <span>Back to home page</span>
      </a>
    </div>
  </div>
</div>

