<div class="modal-header border-bottom-0 pb-0">
  <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body pr-sm-5 pl-sm-5 pb-5">
  <div class="mr-sm-4 ml-sm-4 text-center">
    <h5 class="font-weight-bold">Create new password / Forgot Password</h5>
    <p class="mb-0">Please enter your email address below.</p>
    <p>We will send you an email with instructions on how to reset your password.</p>
    <form class="form" [formGroup]="formGroup" (ngSubmit)="submit()">
      <div class="form-group row">
        <label for="login_id" class="form-control-label font-weight-bold col-md-3 m-0 d-flex align-items-center">Username</label>
        <div class="col-md-9">
          <input type="text" class="form-control rounded-0" id="login_id" placeholder="Enter Username"
                 (keyup)="verifyUsername()"
                 formControlName="login_id" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="form-control-label font-weight-bold col-md-3 m-0 d-flex align-items-center">Email</label>
        <div class="col-md-9">
          <input type="email" class="form-control rounded-0" id="email" placeholder="Enter email"
                 (keyup)="verifyLoginId()" email
                 formControlName="email" required>
        </div>
        <span class="col-md-9 offset-3 text-secondary font-italic justify-content-start d-flex">Please enter your registered Email.</span>
      </div>
      <p class="text-danger" *ngIf="errorMessage">{{ errorMessage }}</p>
      <p class="text-success" *ngIf="successMessage">{{ successMessage }}</p>
      <button type="submit" class="btn btn-red btn-login text-white mt-4" [disabled]="formGroup.invalid">Reset Password</button>
    </form>
  </div>
</div>
