<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="row">
        <!--left content-->
        <div class="col-lg-6">
          <!--error code-->
          <div>
            <p class="text-dark error-code">404</p>
          </div>
        </div>
        <!--right content-->
        <div class="col-lg-6">
          <!--oops-->
          <div class="mb-lg-4 ">
            <p class="oops">Oops!</p>
          </div>
          <!--explanation-->
          <div class="mb-lg-4 ">
            <p class="explanation">This is not the page you're looking for</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
