@font-face {
  font-family: 'MyriadPro-Cond';
  src: url('../fonts/MyriadPro-Cond.otf');
}

@font-face {
  font-family: 'MyriadPro-Bold';
  src: url('../fonts/MyriadPro-Bold.otf');
}

@font-face {
  font-family: 'MyriadPro-Light';
  src: url('../fonts/MyriadPro-Light.otf');
}

@font-face {
  font-family: 'MyriadPro-It';
  src: url('../fonts/MyriadPro-It.otf');
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('../fonts/Lato-Bold.ttf');
}
