$fa-font-path: "../../../../node_modules/@fortawesome/fontawesome-free/webfonts";

$color-white: #FFFFFF;
$color-gray: #797979;
$color-black: #333333;
$color-dark: #36404A;

$color-red: #CE2A29;
$color-green: rgb(37, 174, 136);
$color-green-dark: #509da4;
$color-blue: #4FA4E4;
$color-blue-dark: rgb(38, 62, 80);
$color-blue-gray: #245C73;
$color-yellow: #FFD740;
$color-blue-black: rgb(32, 92, 116);

$background-color: #EBEFF2;


$total-values: 200; // Total values use for loop define class
