<div id="wrapper">
  <header class="header">
    <div class="topbar">
      <div class="topbar-left pl-sm-5 ml-sm-5">
        <div class="text-md-center pt-2 ml-2">
          <a routerLink="/">
            <img class="logo" src="../../../../assets/my-account/images/logo/large-logo.png" alt="Sunseap logo">
          </a>
        </div>
      </div>
    </div>
  </header>

  <main>
    <div class="page-wrapper login full-page-bg bg-login ml-0">
      <div class="mobile-title d-sm-none bg-red p-2 mb-2">
        <div class="container p-0 login-wrapper">
          <h4 class="font-weight-bold text-white mb-0">Create your new password</h4>
        </div>
      </div>
      <div class="page-content container">
        <div class="card-login login-wrapper mx-auto mx-sm-0">
          <h4 class="font-weight-bold d-none d-sm-block">Create your new password</h4>
          <form class="form" #form="ngForm" (ngSubmit)="submit(form)">
            <div class="form-group">
              <label for="password" class="font-weight-bold">New Password</label>
              <input type="password" class="form-control rounded-0" id="password"
                     name="newPassword" [(ngModel)]="data.newPassword" #newPasswordControl="ngModel"
                     togglePassword required [pattern]="config.validationRegex.password">

              <div *ngIf="newPasswordControl.invalid && (newPasswordControl.touched || form.submitted)">
                <p *ngIf="newPasswordControl?.errors.required" class="text-danger">
                  New Password is required.
                </p>
                <p *ngIf="!newPasswordControl?.errors.required && newPasswordControl?.errors.pattern" class="text-danger">
                  New Password must be at least 12 characters with at least 1 uppercase letters, 1 number and 1 special character.
                </p>
              </div>
            </div>
            <div class="form-group">
              <label for="confirmPassword" class="font-weight-bold">Confirm New Password</label>
              <input type="password" class="form-control rounded-0" id="confirmPassword"
                     name="confirmPassword" [(ngModel)]="data.confirmPassword" #confirmPasswordControl="ngModel"
                     togglePassword required [pattern]="config.validationRegex.password">

              <div *ngIf="confirmPasswordControl.invalid && (confirmPasswordControl.touched || form.submitted)">
                <p *ngIf="confirmPasswordControl?.errors.required" class="text-danger">
                  Confirm New Password is required.
                </p>
                <p *ngIf="!confirmPasswordControl?.errors.required && confirmPasswordControl?.errors.pattern" class="text-danger">
                  Password must be at least 12 characters with at least 1 uppercase letters, 1 number and 1 special character.
                </p>
              </div>
            </div>
            <p class="text-danger mb-0" *ngIf="formErrorMessage">{{ formErrorMessage }}</p>
            <div class="text-center text-sm-right">
              <div class="mt-3">
                <button type="submit" class="btn btn-red text-white" [disabled]="loading">Create password</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>

  <footer class="footer">
    <div class="footer-content">
      <div class="container-fluid text-center pt-sm-3 pb-sm-3">
        <ul class="menu-footer text-center text-md-left float-md-left">
          <li class="menu-footer-item">
            <a href="https://www.sunseap.com/privacy/" target="_blank" class="text-dark">Privacy Policy</a>
          </li>
          <li class="menu-footer-item">
            <a href="https://www.sunseap.com/electricity-retail-terms-conditions/" target="_blank" class="text-dark">Commercial T&C</a>
          </li>
          <li class="menu-footer-item">
            <a href="https://www.sunseap.com/terms-conditions/residential/" target="_blank" class="text-dark">Residential T&C</a>
          </li>
          <li class="menu-footer-item">
            <a href="https://www.sunseap.com/anti-bribery-and-corruption-policy/" target="_blank" class="text-dark">Anti-bribery & Corruption Policy</a>
          </li>
        </ul>
        <ul class="social float-none float-md-right mt-3 mt-sm-0 mt-xl-0">
          <li><a href="https://www.facebook.com/sunseapgroup" target="_blank" class="text-dark"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://www.linkedin.com/company/sunseap" target="_blank" class="text-dark"><i class="fab fa-linkedin-in"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UC4DlFkROplD7CnEFfBEobuw" target="_blank" class="text-dark"><i class="fab fa-youtube"></i></a></li>
          <li><a href="https://twitter.com/sunseap_group" target="_blank" class="text-dark"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.instagram.com/sunseap_group/" target="_blank" class="text-dark"><i class="fab fa-instagram"></i></a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
  </footer>
</div>

<ng-template #confirmModal>
  <div class="modal-header border-bottom-0 pb-0">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body pr-sm-5 pl-sm-5 pb-5">
    <div class="mr-sm-4 ml-sm-4 text-center">
      <h5 class="font-weight-bold" *ngIf="errorMessage">Errors</h5>
      <h5 class="font-weight-bold" *ngIf="successMessage">Congratulations</h5>
      <p class="text-danger" *ngIf="errorMessage">{{ errorMessage }}</p>
      <p class="text-success" *ngIf="successMessage">{{ successMessage }}</p>
      <button type="button" class="btn btn-red text-white mt-4" *ngIf="errorMessage"
              (click)="modal.hide(); errorMessage == errors.invalidToken ? backToLogin() : generatePasswordResetUrl()">
        {{ errorMessage == errors.invalidToken ? 'Back to login' : 'Regenerate' }}
      </button>
    </div>
  </div>
</ng-template>



